html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-height: 100%;
	min-width: 1000px;
	background: #F2F2F2;
	height: 100%;
}

body {
	margin: 0;
	font-size: 13px;
	line-height: 1.231;
	text-align: center;
	color: #6E6E6E;
	background: #F4F3F1;
	max-height: none;
	min-width: 1000px;
	min-height: 100%;
	position: relative;
}

body,button,input,select,textarea {
	font-family: Arial, Tahoma, sans-serif;
}

a {
	color: #189300;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

#header {
	border-style: inset;
	border-width: 1px;
	border-color: green;
}

a.topmenu_selected
{
  background:		#203560;
  padding:			7px;
}
a.topmenu_notselected
{
  background:		#4E679F;
  padding:			7px;
}